In [2]:
a = [10, 20]
b = a
b += [30, 40]
a += [50, 60]
print(b)

[10, 20, 30, 40, 50, 60]

In [3]:
print(36 / 4)
print(36 // 5)

9.0
7

In [4]:
myList = [1, 2, 3]
myTuple = (1, 2, 3)
myDictionary = {"a": 1, "b": 2, "c": 3}
mySet = {1, 2, 3}

print(myList[0], myTuple[0], myDictionary["a"], mySet)

1 1 1 {1, 2, 3}

In [5]:
obj = [1,2,3,4,5,6,7,8,9]
print(type(obj[0:5]))

<class 'list'>

In [6]:
s1 = "Peter"
s2 = "Mary"
s3 = "%s and %s are living together." % (s1, s2)
s4 = "{} and {} are living together.".format(s1, s2)
print(s3)
print(s4)

Peter and Mary are living together.
Peter and Mary are living together.

In [7]:
person = {'name': 'Peter', 'age': 25}
print("Hello, {name}. You are {age} years old.".format(name=person['name'], age=person['age']))
print("Hello, {name}. You are {age} years old.".format(**person))

Hello, Peter. You are 25 years old.
Hello, Peter. You are 25 years old.

In [9]:
print("{:.2%}".format(0.42356782))

42.36%

In [10]:
print("{:0>8d}".format(42))

00000042

In [11]:
x = 56.6578
print(f'{x*100:.2f}')

5665.78

In [12]:
from datetime import datetime, date
t1 = date(year = 1984, month = 12, day = 31)
t2 = date(year = 2022, month = 12, day = 31)
t3 = t2 - t1
print("type of t3 =", type(t3))

type of t3 = <class 'datetime.timedelta'>

In [13]:
a = 3000
print(f"{a:e}")

3.000000e+03

In [17]:
for x in range(1, 11): print(f'{x:2} | {x**2:3} | {x**5:6}')

 1 |   1 |      1
 2 |   4 |     32
 3 |   9 |    243
 4 |  16 |   1024
 5 |  25 |   3125
 6 |  36 |   7776
 7 |  49 |  16807
 8 |  64 |  32768
 9 |  81 |  59049
10 | 100 | 100000

In [8]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
NT
Windows | 10
Datetime: 2024-06-04 22:07:56
Python Version: 3.10.13
-----------------------------------